API_ID=20229312
API_HASH=a28b36db7e0f7a1f8870c318c8371c1c
BOT_TOKEN=7303211754:AAF3uNJcONcyR80mArPtoxnDNF7w_af1JWc
LOGGER_ID=-1002643544937
MONGO_DB_URI=mongodb+srv://knight4563:knight4563@cluster0.a5br0se.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=8116802522
STRING_SESSION=BQE0rMAAC32vQll9IV9I_algH_VP_iElMAxF10cE_sP0-gnGDL4k7aNQpRiAcf3vcUSVVOrM98UQjNdLDd6OYYqzT5PMpSCeq4o0J0Z_xnyKT1fqE3m1B08UiGfN2ggIM_BPH5OtFRbuxD8Z5rWpdm9hfyh8CHb8ceOztOo81mPnQyRFKE-JkeQsWEgIl30iQs92wahtLW8YSmT1T1tt_LarX9xyyHGMuJOPgYvgLO3emV77HbKT-mNjo-hrJs0Z4yfQFnsFiQ9Lp017OyipnYMIegwhXZXW4qN90dl7BY_hXA5mkSzNQoV6tDh4Y1MlRkh_ngFtLbIuPMGkSo7c_e9CjPjDswAAAAHK6f3UAA
